/* fixes broken padding for toolbar */

.navbar-fixed .page-content {
  padding-top: 56px;
  padding-bottom: 0;
}

.navbar-fixed .tabbar-fixed .page-content, .navbar-fixed .toolbar-fixed .page-content, .navbar-fixed.tabbar-fixed .page-content, .navbar-fixed.toolbar-fixed .page-content, .tabbar-fixed .navbar-fixed .page-content, .toolbar-fixed .navbar-fixed .page-content {
  padding-top: 56px;
  /*padding-bottom: 48px;*/
}
.tabbar-fixed .page-content, .toolbar-fixed .page-content {
  /*padding-bottom: 48px;*/
}


.toolbar-padding {
  padding: 0 16px;
}

.gps-button {
  width: 48px;
  height: 48px;
  color: #fff !important;
  margin-top: 1em !important;
}

.search-button {
  position: absolute;
  margin-top: -7em !important;
  width: 11em;
  height: 3em;
  border-radius: 2em;
  z-index: 1500;
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
  color: #fff !important;
  overflow: hidden;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.search-button-hide {
  margin-top: 70px !important;
}

.searchbar a {
  color: #fff;
}

.item-desc {
  white-space: normal;
  font-size: 14px;
}

.popover-center {
  top: 50% !important;
  left: 50% !important;
  transform-origin: left top !important;
  -webkit-transform-origin: left top !important;
}
.popover {
  transform: scale(.85,.6) translateX(-50%) translateY(-50%) !important;
  -moz-transform: scale(.85,.6) translateX(-50%) translateY(-50%) !important;
}
.popover.modal-in {
  transform: scale(1) translateX(-50%) translateY(-50%) !important;
  -moz-transform: scale(1) translateX(-50%) translateY(-50%) !important;
}

.info-left {
  float: left;
}
.info-content > * > img {
  margin-right: 0.2em;
}
.info-texto {
  clear: both;
}
.info-texto > p {
  margin: 0;
  padding: 0.5em 0;
}
.info-nome {
  font-size: 18px;
  margin: 0;
}
.info-origem {
  font-size: 10px;
  color: #bbb;
  margin: 0;
}

.hidden {
  display: none;
}
