<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Comida de (I)migrante</title>

    <!-- Bootstrap -->
    <link href="/static/website/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="/static/website/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	     <div class="row menu">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img src="/static/website/img/logo-small.png">
              </a>
              </div>
              <ul class="nav navbar-nav">
              	<li class="active"><a href="#">Home</a></li>
              	<li class="active"><a href="#">O Projeto</a></li>
              	<li class="active"><a href="#">Últimas Postagens</a></li>
              	<li class="active"><a href="#">Baixe o App</a></li>
              	<li class="active"><a href="#">Contato</a></li>
            </ul>
          </div>
      </div>

      {% block content %}
      {% endblock content %}

  		<div class="footer row">
        <div class="container">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="active"><a href="#">O Projeto</a></li>
              <li class="active"><a href="#">Últimas Postagens</a></li>
              <li class="active"><a href="#">Baixe o App</a></li>
              <li class="active"><a href="#">Contato</a></li>
            </ul>
          <hr />
        
          <div class="parceiros">
              <h1>Parceiros</h1>
              <div class="parceiro"><img src="" />Parceiro</div>
              <div class="parceiro"><img src="" />Parceiro</div>
              <div class="parceiro"><img src="" />Parceiro</div>
              <div class="parceiro"><img src="" />Parceiro</div>
          </div>
        </div>
      </div>
          
  	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/website/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>