{% extends 'website/base.html' %}

{% block content %}

      <div class="banner row" style="background-image:url('{{cozinheiro.foto.url}}');">
          <div class="box container">
            <h1>{{cozinheiro.nome}}</h1>
            <p>{{cozinheiro.restaurante.nome}}</p>
          </div>
    	</div>

    	<div class="row principal">
    		<div class="container">
          <div class="row">
            {{cozinheiro.texto|safe}}
          </div>
          <div class="row">
            <a href="#"><img src="/static/website/img/banner.png" /></a>
          </div>

        </div>
    	</div>
{% endblock content %}